go 1.25.1

use (
	./auth
	./chat
	./gateway
	./social
	./users
	./notification
	./_lib
)

replace google.golang.org/genproto => google.golang.org/genproto/googleapis/rpc v0.0.0-20250908214217-97024824d090

